__pycache__/
*.py[cod]
*.pyo

build/
dist/
build_config/build/
build_config/dist/
build_config/dist_linux/
build_config/dist_windows/
build_config/_build_src/
*.spec
!build_config/rac.spec

data/registros.db
data/config.json
data/rac.log
data/backups/

*.egg-info/
.eggs/

.idea/
.vscode/
*.swp
*.swo

.env
